.my-card {
  font-family: 'Montserrat', sans-serif;
  color: #f6f6f6;
  background-color: #6c33a3;
  background-image: linear-gradient(316deg, #6c33a3 0%, #8241b8 74%);
  border-radius: 20px;
  border: 0;
  width: 30rem;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .profile {
    display: flex;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 12px solid #3a2872;
    }
  }

  .profile-data {
    margin-left: 20px;
    .name,
    .bio {
      margin-bottom: 5px;
    }
    .name {
      font-size: 20px;
      font-weight: 800;
    }
    .bio {
      font-size: 16px;
      color: #a8a4bb;
    }
    .desc {
      font-size: 14px;
    }
    .icon-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          align-items: center;
          font-size: 16px;
          margin: 0.5rem;
        }
      }
    }
  }
}
